.timeline{
    position: relative;
    border-left: 2px solid red;

}
.timedot{
    border: 8px solid red;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    
}
.timecontent{
    margin-left: 30px;
}
.mainedu{
    margin-left: 30px;
    position: relative;
}
.mainedu h1{
    margin-left: 30px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.mainedu h1::after{
    content: "";
    border: 2px solid red;
    position: absolute;
    height: 3px;
    top: 40px;
    left: 30px;
    width: 200px;
    background-color: red;
    border-radius: 5px;
}